<html>
    <head>
        <meta charset="UTF-8" />
        <title>Create new Flight Ticket</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
    <h1>Create new Flight Ticket</h1>
    <a href="/">Back to Ticket List</a>
    <br/><br/>
    <form action="/add" name="flightTicket" method="POST">
        <table border="0">
            <tr>
                <td>Origin</td>
                <td><input type="text" name="cityOfOrigin" value="" /></td>
            </tr>
            <tr>
                <td>Destination</td>
                <td><input type="text" name="destinationCity" value="" /></td>
            </tr>
            <tr>
                <td>Departure Date</td>
                <td><input type="date" name="departureDateString" value="" /></td>
            </tr>
            <tr>
                <td>Arrival Date</td>
                <td><input type="date" name="arrivalDateString" value="" /></td>
            </tr>
            <tr>
                <td>Passenger Name</td>
                <td><input type="text" name="passengerName" value="" /></td>
            </tr>
            <tr>
                <td>Passenger Age</td>
                <td><input type="number" name="passengerAge" value="" /></td>
            </tr>
            <tr>
                <td>Stored Luggage</td>
                <td>
                    <input type="checkbox" name="hasLuggageStoredCB" value="true" />
                    <input type="hidden" name="hasLuggageStoredCB" value="false" />
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="number" name="price" step=".01" value="" /></td>
            </tr>
        </table>
        <input type="submit" value="Create" />
    </form>

    <br/>

    <div class="error">{{#errorMessage}}{{errorMessage}}{{/errorMessage}}</div>
    {{>footer}}
    </body>
</html>