{{> header}}

<h1>{{title}}</h1>
<a href="/">Back to Ticket List</a>

<div class="flight-tickets">
    <section>
        <header class="ticket-header">
            <h3 class="ticket-title">Ticket Number: {{flightTicket.itineraryId}}</h3>
        </header>
        <div class="article-description">
            <p>Origin: {{flightTicket.cityOfOrigin}}</p>
            <p>Destination: {{flightTicket.destinationCity}}</p>
            <p>Departure: {{flightTicket.departureDate}} {{flightTicket.departureTime}}</p>
            <p>Arrival: {{flightTicket.arrivalDate}} {{flightTicket.arrivalTime}}</p>
            <p>Passenger Name: {{flightTicket.passengerName}}</p>
            <p>Passenger Age: {{flightTicket.passengerAge}}</p>
            <p>Has Luggage Stored: {{flightTicket.hasLuggageStored}}</p>
            <p>Price: U$D {{flightTicket.price}}</p>
        </div>
    </section>
</div>

{{> footer}}