{{> header}}

<h1>{{title}}</h1>

<div class="flight-tickets">
    <section>
        <header class="ticket-header">
            <a href="/add">Create Flight Ticket</a>
        </header>
        <div class="article-description">
            <table border="1" style="margin-top: 20;">
                <tr>
                    <th>Ticket Number</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Departure Date</th>
                    <th>Departure Time</th>
                    <th>Arrival Date</th>
                    <th>Arrival Time</th>
                    <th>Passenger Name</th>
                    <th>Passenger Age</th>
                    <th>Stored Luggage</th>
                    <th>Price</th>
                </tr>
                {{#flightTicketsList}}
                    <tr>
                        <td><a href="/tickets/{{itineraryId}}">{{itineraryId}}</a></td>
                        <td>{{cityOfOrigin}}</td>
                        <td>{{destinationCity}}</td>
                        <td>{{departureDate}}</td>
                        <td>{{departureTime}}</td>
                        <td>{{arrivalDate}}</td>
                        <td>{{arrivalTime}}</td>
                        <td>{{passengerName}}</td>
                        <td>{{passengerAge}}</td>
                        <td>{{hasLuggageStored}}</td>
                        <td>{{price}}</td>
                    </tr>
                {{/flightTicketsList}}
            </table>
        </div>
    </section>
</div>

{{> footer}}